---
---
    <section id="contact" class="py-16 px-6 md:px-8 h-[575px]">
        <h2 class="text-4xl lato-black text-center mb-12">Contacto</h2>
        <div class="fondo-me max-w-xl mx-auto p-12 custom-box-shadow">
            <h3 class="text-2xl lato-regular mb-6 text-center">¡Hablemos de tu proyecto!</h3>
        <div class="flex flex-col items-center space-y-2">

            <div class="flex items-center justify-center space-x-2 mb-3">
                <img src="/imagenes/mail.svg" alt="Email" class="w-7 h-7">
                <p class="lato-regular text-base md:text-lg">leandrobarriospintos90@gmail.com</p>
            </div>
            <div class="flex items-center space-x-2 mb-3">
                <img src="/imagenes/point.svg" alt="Ubicación" class="w-7 h-7">
                <p class="lato-regular text-base md:text-lg">Luján, Buenos Aires, Argentina</p>
            </div>
            <div class="flex items-center space-x-2 mb-3">
                <img src="/imagenes/whatsapp.svg" alt="WhatsApp" class="w-7 h-7">
                <p class="text-[16px] tracking-[0.02em] lato-bold">
                <a href="https://wa.link/zesrbl" target="_blank" class="hover:text-green-500 transition duration-300">
                    +54 9 11 6023-0521
                </a>
                </p>
            </div>

        </div>
        </div>
    </section>

<style>
    .custom-box-shadow {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    body.dark-mode .custom-box-shadow { 
        box-shadow: rgb(11, 6, 59) 0px 7px 29px 0px; 
    }
    .fondo-me {
        background: rgb(255, 255, 255);
    }
    body.dark-mode .fondo-me { 
        background: rgb(5, 6, 45);
    }
</style>