---
import Redes from '@iconos/Redes.astro'

---
    <section id="contact" class="py-16 px-6 md:px-12">
        <h2 class="text-4xl font-bold text-center mb-12">Contacto</h2>
        <div class="fondo-me max-w-xl mx-auto p-8 custom-box-shadow">
            <h3 class="text-2xl font-bold mb-4 text-center">¡Hablemos de tu proyecto!</h3>
            <div class="flex flex-col items-center space-y-2">
            <div class="flex items-center space-x-2">
                <img src="/imagenes/point.svg" alt="Ubicación" class="w-7 h-7">
                <p class="font-semibold">Luján, Buenos Aires, Argentina</p>
            </div>

            <div class="flex items-center space-x-2">
                <img src="/imagenes/mail.svg" alt="Email" class="w-7 h-7">
                <p class="font-semibold">leandrobarriospintos90@gmail.com</p>
            </div>

            <div class="flex items-center space-x-2 mb-6">
                <img src="/imagenes/whatsapp.svg" alt="WhatsApp" class="w-7 h-7">
                <p class="text-lg font-semibold">
                <a href="https://wa.link/zesrbl" target="_blank" class="hover:text-green-500 transition duration-300">
                    +54 9 11 6023-0521
                </a>
                </p>
            </div>
            </div>
            <div class="mb-3">
            <ul class="flex justify-center space-x-6">
                <li><Redes /></li>
            </ul>
            </div>
            <div class="flex justify-center space-x-6 text-3xl">
                <a href="https://www.linkedin.com/in/leandro-barrios-1990-link/" target="_blank" class="hover:text-blue-600 transition duration-300"></a>
                <a href="https://github.com/Lea-editor8" target="_blank" class="hover:text-gray-900 transition duration-300"></a>
                <a href="https://www.instagram.com/leandrobarriospintos/" target="_blank" class="hover:text-pink-500 transition duration-300"></a>
            </div>
        </div>
    </section>

<style>
    .custom-box-shadow {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    body.dark-mode .custom-box-shadow { 
        box-shadow: rgb(11, 6, 59) 0px 7px 29px 0px; 
    }
    .fondo-me {
        background: rgb(255, 255, 255);
    }
    body.dark-mode .fondo-me { 
        background: rgb(5, 6, 45);
    }
</style>