---

---

<section id="contact" class="relative z-30 bg-bg text-text py-20 px-12 border-t lato-regular">
    <div
        class="max-w-9xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-12 items-center"
    >
        <div>
            <h2 class="text-4xl font-bold mb-4">¡Hablemos de tu proyecto!</h2>
            <p class="text-lg md:text-xl lg:text-xl max-w-sm mb-8">
                leandrobarriospintos90@gmail.com
            </p>
        </div>

        <div class="md:text-right">
            <div class="mb-4">
                <p
                    class="text-xs font-label uppercase tracking-widest text-primary mb-2"
                >
                    Ubicación
                </p>
                <p class="text-xl">Luján / Buenos Aires</p>
            </div>
            <div>
                <p class="text-sm">+54 9 11 6023-0521</p>
            </div>
        </div>
    </div>
</section>
