---
---
    <!-- Sección "Experience" -->
    <section id="experience" class="py-16 px-6 md:px-12 animate">
        <h2 class="text-4xl lato-black text-center mb-12 animate-on-scroll">Experiencia Profesional</h2>
        <div class="flex flex-col justify-center space-y-8 md:space-y-0 md:space-x-12 max-w-6xl mx-auto">
            <!-- Columna Diseño Gráfico Freelance (ocupa todo el ancho) -->
            <div class="p-8 w-full animate-on-scroll custom-box-shadow fondo-me">
                <h3 class="text-2xl lato-bold text-center mb-6">Diseñador Gráfico Freelance</h3>
                <p class="text-gray-600 text-center mb-6 lato-regular">2014 – Actualidad</p>
                <div class="text-lg grid grid-cols-1 sm:grid-cols-3 gap-6">
                    <div class="flex items-center space-x-3">
                        <img src="/imagenes/tilde.svg" alt="Freelance Icon" class="w-7 h-7">
                        <div>
                            <h4 class="lato-bold">Branding e identidad institucional</h4>
                            <p class="text-sm text-gray-600">Experto</p>
                        </div>
                    </div>
                    <div class="flex items-center space-x-3">
                        <img src="/imagenes/tilde.svg" alt="Freelance Icon" class="w-7 h-7">
                        <div>
                            <h4 class="lato-bold">Diseño editorial</h4>
                            <p class="text-sm text-gray-600">Experto</p>
                        </div>
                    </div>
                    <div class="flex items-center space-x-3">
                        <img src="/imagenes/tilde.svg" alt="Freelance Icon" class="w-7 h-7">
                        <div>
                            <h4 class="lato-bold">Diseño para redes sociales</h4>
                            <p class="text-sm text-gray-600">Experto</p>
                        </div>
                    </div>
                    <div class="flex items-center space-x-3">
                        <img src="/imagenes/tilde.svg" alt="Freelance Icon" class="w-7 h-7">
                        <div>
                            <h4 class="lato-bold">Adobe (Illustrator, Photoshop, InDesign)</h4>
                            <p class="text-sm text-gray-600">Experto</p>
                        </div>
                    </div>
                    <div class="flex items-center space-x-3">
                        <img src="/imagenes/tilde.svg" alt="Freelance Icon" class="w-7 h-7">
                        <div>
                            <h4 class="lato-bold">Diseño web</h4>
                            <p class="text-sm text-gray-600">Básico</p>
                        </div>
                    </div>
                    <div class="flex items-center space-x-3">
                        <img src="/imagenes/tilde.svg" alt="Freelance Icon" class="w-7 h-7">
                        <div>
                            <h4 class="lato-bold">Astro, Tailwind CSS y WordPress</h4>
                            <p class="text-sm text-gray-600">Básico</p>
                        </div>
                    </div>
                    <div class="flex items-center space-x-3">
                        <img src="/imagenes/tilde.svg" alt="Freelance Icon" class="w-7 h-7">
                        <div>
                            <h4 class="lato-bold">HTML y CSS (Web y EPUB)</h4>
                            <p class="text-sm text-gray-600">Básico</p>
                        </div>
                    </div>
                    <div class="flex items-center space-x-3">
                        <img src="/imagenes/tilde.svg" alt="Freelance Icon" class="w-7 h-7">
                        <div>
                            <h4 class="lato-bold">Trabajo autónomo y en equipo</h4>
                            <p class="text-sm text-gray-600">Experto</p>
                        </div>
                    </div>
                    <div class="flex items-center space-x-3">
                        <img src="/imagenes/tilde.svg" alt="Freelance Icon" class="w-7 h-7">
                        <div>
                            <h4 class="lato-bold">Pensamiento estratégico y enfoque comunicacional</h4>
                            <p class="text-sm text-gray-600">Experto</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<script src="../src/scripts/scroll.js" is:inline></script>

<style>
    .custom-box-shadow {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    body.dark-mode .custom-box-shadow { 
        box-shadow: rgba(11, 5, 70, 0.384) 0px 7px 29px 0px; 
    }
    .fondo-me {
        background: rgb(255, 255, 255);
    }
    body.dark-mode .fondo-me { 
        background: rgb(5, 6, 45);
    }
</style>
