---
import Menu from '@funciones/Menu.astro'
---
<header class="fixed top-0 left-0 w-full z-50 glass-header">

    
    <div class="max-w-[1400px] mx-auto flex justify-between items-center py-4 px-6 md:px-12">
        <div class="text-2xl font-bold leading-tight">
        <a href="#hero" class="text-inherit lato-black tracking-[0.02em]">Leandro Barrios</a>
        </div>
        <Menu />
    </div>


</header>

<style>
        /* Estilo para el efecto glass en el header */
        .glass-header {
            background-color: rgba(255, 255, 255, 0.15); /* Fondo semi-transparente */
            backdrop-filter: blur(10px); /* Efecto de desenfoque */
            -webkit-backdrop-filter: blur(10px); /* Prefijo para compatibilidad */
            border-bottom: 1px solid rgba(255, 255, 255, 0.18); /* Borde sutil */
        }
        body.dark-mode .glass-header {
            background-color: rgba(8, 0, 26, 0.575);
            border-bottom: 1px solid rgb(25, 0, 48);
            backdrop-filter: blur(10px);
        }
</style>