---
import TextTyped from "@funciones/TextTyped.astro";
import Redes from "@iconos/Redes.astro";
import Button from "@components/ui/Button.astro";
import { Image } from "astro:assets";
import perfil from "../assets/imagenes/perfil-lean.jpg";
import perfilColor from "../assets/imagenes/perfil-lean-color.jpg";
---

<section
    id="hero"
    class="min-h-screen flex flex-col md:flex-row items-center justify-center pt-24 pb-12"
>
    <!-- Contenedor de la foto de perfil -->
    <!-- Se ajusta el margen derecho para la separación de 50px en pantallas medianas y grandes -->
    <div class="flex justify-center animate-on-scroll md:mr-[60px]">
        <!-- Aumentado 20% de 50px a 60px -->
        <!-- Contenedor para la animación de la imagen de perfil -->
        <div
            class="relative w-[21rem] h-[21rem] rounded-full overflow-hidden mx-auto mb-8 md:mb-0 shadow-lg group"
        >
            <!-- Imagen principal (visible por defecto) -->
            <Image
                src={perfil}
                alt="Foto de Perfil de Leandro Barrios"
                class="absolute inset-0 w-full h-full object-cover transition-opacity duration-500 opacity-100 group-hover:opacity-0 group-active:opacity-0"
            />
            <!-- Segunda imagen (visible al pasar el cursor) -->
            <Image
                src={perfilColor}
                alt="Foto de Perfil de Leandro Barrios Color"
                class="absolute inset-0 w-full h-full object-cover transition-opacity duration-500 opacity-0 group-hover:opacity-100 group-active:opacity-100"
            />
        </div>
    </div>
    <!-- Contenedor del texto, botones e íconos sociales -->
    <!-- Se asegura que el contenido esté alineado a la izquierda en desktop y centrado en móvil -->
    <div class="text-center md:text-left animate-on-scroll">
        <div class="max-w-md mx-auto md:mx-0">
            <p class="text-2xl lato-regular-italic mb-1">Hola, soy</p>
            <h1 class="text-5xl lato-black mb-1">Leandro Barrios</h1>
            <h2 class="text-3xl mb-10"><TextTyped /></h2>
        </div>
        <!-- Modificación para que los botones se apilen en móvil -->
        <div
            class="flex flex-col items-center md:flex-row md:justify-start md:space-x-5 space-y-4 md:space-y-0 mb-10"
        >
            <!-- Botón "Descargar CV" con el nuevo estilo -->
            <Button
                href="/docs/CV_Leandro_Barrios.pdf"
                download
                variant="primary"
                id="download-cv-btn">Descargar CV</Button
            >
            <Button href="#modal" variant="outline">Disponible</Button>
        </div>
        <div class="mb-3">
            <ul class="flex justify-center md:justify-start space-x-6">
                <li><Redes /></li>
            </ul>
        </div>
    </div>
</section>

<!-- Modal -->
<div
    id="modal"
    class="z-50 fixed inset-0 bg-black/75 flex items-center justify-center opacity-0 pointer-events-none transition-opacity duration-300"
>
    <div
        class="bg-white p-8 md:p-12 max-w-md mx-auto relative scale-95 transition-transform duration-300 shadow-lg"
    >
        <!-- Botón de cerrar -->
        <a
            href="#"
            class="absolute top-1 right-4 text-gray-500 hover:text-gray-700 text-3xl"
            >&times;</a
        >
        <div class="mb-4 text-center justify-center">
            <h2 class="text-xl lato-bold mb-4 text-gray-800">
                Disponible para trabajar
            </h2>
            <div class="flex items-center space-x-2">
                <p class="mb-1 text-gray-600 lato-regular text-lg text-balance">
                    Explorá cada proyecto y descubrí cómo puedo ayudarte a darle
                    forma a tus ideas.
                </p>
            </div>
        </div>
        <a
            href="#"
            class="bg-azul text-white px-4 py-2 hover:contrast-200 transition-colors duration-300 block text-center lato-regular"
        >
            ¡No dudes en contactarme!
        </a>
    </div>
</div>

<style>
    /* Estilos para el modal (mantengo esto ya que es específico de este modal CSS-target) */
    #modal:target {
        opacity: 1;
        pointer-events: auto;
    }
    #modal:target > div {
        transform: scale(1);
    }
</style>
