---
import TextTyped from '@funciones/TextTyped.astro';
import Redes from '@iconos/Redes.astro';
---
    <section id="hero" class="min-h-screen flex flex-col md:flex-row items-center justify-center pt-24 pb-12">
        <!-- Contenedor de la foto de perfil -->
        <!-- Se ajusta el margen derecho para la separación de 50px en pantallas medianas y grandes -->
        <div class="flex justify-center animate-on-scroll md:mr-[60px]"> <!-- Aumentado 20% de 50px a 60px -->
            <!-- Contenedor para la animación de la imagen de perfil -->
            <div class="relative w-[21rem] h-[21rem] rounded-full overflow-hidden mx-auto mb-8 md:mb-0 shadow-lg group">
                <!-- Imagen principal (visible por defecto) -->
                <img src="/imagenes/perfil-lean.png" alt="Foto de Perfil de Leandro Barrios" class="absolute inset-0 w-full h-full object-cover transition-opacity duration-500 opacity-100 group-hover:opacity-0 group-focus:opacity-0">
                <!-- Segunda imagen (visible al pasar el cursor) -->
                <img src="/imagenes/perfil-lean-color.png" alt="Foto de Perfil de Leandro Barrios Color" class="absolute inset-0 w-full h-full object-cover transition-opacity duration-500 opacity-0 group-hover:opacity-100 group-focus:opacity-100">
            </div>
        </div>
        <!-- Contenedor del texto, botones e íconos sociales -->
        <!-- Se asegura que el contenido esté alineado a la izquierda en desktop y centrado en móvil -->
        <div class="text-center md:text-left animate-on-scroll">
            <div class="max-w-md mx-auto md:mx-0"> <!-- Inner wrapper for text content -->
                <p class="text-xl mb-1">Hola, soy</p> <!-- Cambiado de mb-3 a mb-1 para reducir el interlineado -->
                <h1 class="text-5xl font-bold mb-1">Leandro Barrios</h1>
                <h2 class="text-3xl mb-10"><TextTyped /></span></h2>
                <!-- Modificación para que los botones se apilen en móvil -->
                <div class="flex flex-col items-center md:flex-row md:justify-start md:space-x-5 space-y-4 md:space-y-0 mb-10">
                    <!-- Botón "Descargar CV" con el nuevo estilo -->
                    <a href="/docs/CV_Leandro_Barrios.pdf" download><button id="download-cv-btn" class="boton-cv" role="button"><span class="text">Descargar CV</span></button></a>
                    <a href="#modal" id="contact-info-btn" class="boton">Contacto</a>
                </div>
            <div class="mb-3">
            <ul class="flex justify-center md:justify-start space-x-6">
                <li><Redes /></li>
            </ul>
            </div>
            </div>
        </div>

<!-- Modal -->
        <div id="modal" class="fixed inset-0 bg-black/75 flex items-center justify-center opacity-0 pointer-events-none transition-opacity duration-300">
        <div class="bg-white p-12 max-w-md mx-auto relative scale-95 transition-transform duration-300 shadow-lg">
            <!-- Botón de cerrar -->
            <a href="#" class="absolute top-1 right-4 text-gray-500 hover:text-gray-700 text-xl">&times;</a>
            <div class="mb-4 text-center justify-center">
            <h2 class="text-xl font-bold mb-4 text-gray-800">Contacto</h2>
            <div class="flex items-center space-x-2">
                <img src="/imagenes/mail.svg" alt="Email" class="w-7 h-7">
                <p class="mb-1 text-gray-600 font-semibold">leandrobarriospintos90@gmail.com
            </p></div>
            <div class="flex items-center justify-center space-x-2">
                <img src="/imagenes/whatsapp.svg" alt="Email" class="w-7 h-7 mb-2">
                <p class="mb-2 text-gray-600 font-semibold">
                <a href="https://wa.link/zesrbl" target="_blank" class="hover:text-green-500 transition duration-300">
                +54 9 11 6023-0521
                </a>
            </p></div>
        </div>
            <a href="#" class="bg-azul text-white px-4 py-2 hover:contrast-200 transition-colors duration-300 block text-center">
            ¡No dudes en contactarme!
            </a>
        </div>
        </div>
    </section>


<style>
        /* CSS para el botón "boton-cv" */
        .boton-cv {
            align-items: center;
            background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
            border: 0;
            border-radius: 0px;
            box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
            box-sizing: border-box;
            color: #FFFFFF;
            display: flex;
            font-size: 20px;
            justify-content: center;
            line-height: 1em;
            max-width: 100%;
            min-width: 140px;
            padding: 3px;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            cursor: pointer;
        }

        .boton-cv:active,
        .boton-cv:hover {
            outline: 0;
        }

        .boton-cv span {
            background-color: rgb(5, 6, 45);
            border-radius: 0px;
            padding: 16px 24px;
            width: 100%;
            height: 100%;
            transition: 300ms;
        }

        .boton-cv:hover span {
            background: none;
        }

        @media (min-width: 768px) {
            .boton-cv {
                font-size: 24px;
                min-width: 196px;
            }
        }
        /* Estilos para los botones personalizados */
        .boton {
            align-items: center;
            background-color: #fff;
            border-radius: 0px; /* Bordes rectos */
            box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
            box-sizing: border-box;
            color: var(--color-azul-oscuro);
            cursor: pointer;
            display: inline-flex;
            flex: 1 1 auto;
            font-size: 1.44rem; /* Aumentado 20% de 1.2rem */
            font-weight: 700;
            justify-content: center;
            line-height: 1;
            margin: 0;
            outline: none;
            padding: 1.2rem 1.44rem; /* Aumentado 20% de 1rem 1.2rem */
            text-align: center;
            text-decoration: none;
            transition: box-shadow .2s,-webkit-box-shadow .2s;
            white-space: nowrap;
            border: 0;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
        }

        .boton:hover {
            box-shadow: var(--color-azul-oscuro) 0 0 0 3px, transparent 0 0 0 0;
        }

        /* Variante oscura para los botones */
        body.dark-mode .boton {
            align-items: center;
            background-color: #05062d; /* Color de fondo oscuro */
            border-radius: 0px; /* Bordes rectos */
            box-shadow: transparent 0 0 0 3px,rgba(255, 255, 255, .1) 0 6px 20px; /* Sombra clara */
            box-sizing: border-box;
            color: #fff; /* Texto blanco */
            cursor: pointer;
            display: inline-flex;
            flex: 1 1 auto;
            font-family: Inter,sans-serif;
            font-size: 1.44rem; /* Aumentado 20% de 1.2rem */
            font-weight: 700;
            justify-content: center;
            line-height: 1;
            margin: 0;
            outline: none;
            padding: 1.2rem 1.44rem; /* Aumentado 20% de 1rem 1.2rem */
            text-align: center;
            text-decoration: none;
            transition: box-shadow .2s,-webkit-box-shadow .2s;
            white-space: nowrap;
            border: 0;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
        }

        body.dark-mode .boton:hover {
            box-shadow: #fff 0 0 0 3px, transparent 0 0 0 0; /* Borde blanco al pasar el ratón */
        }
        /* Estilos para el modal */
        #modal:target {
            opacity: 1;
            pointer-events: auto;
        }
        #modal:target > div {
            transform: scale(1);
        }
</style>