---
import ModalProject from '@funciones/ModalProject.astro';
---
    <!-- Sección "Projects" -->
    <section id="projects" class="py-16 px-0 md:px-0">
        <h2 class="text-4xl lato-black text-center mb-12">Proyectos</h2>
        <!-- La grilla ha sido revertida a su configuración original de Tailwind -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-0 w-full">
            <!-- Proyecto 1 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/marca-programa-elegi-lujan.jpg" alt="Programa Elegí Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Programa "Elegí Luján" (2022)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño de marca y piezas gráficas para el programa Elegí Luján, que impulsa la producción local y promueve el consumo de productos elaborados en el partido de Luján.</p>
                </div>
            </div>
            <!-- Proyecto 2 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/programa-elegi-lujan-stand.gif" alt="Programa Elegí Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Programa "Elegí Luján"</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño de marca y piezas gráficas para el programa Elegí Luján, que impulsa la producción local y promueve el consumo de productos elaborados en el partido de Luján.</p>
                </div>
            </div>
            <!-- Proyecto 3 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/tarjeta-programa-elegi-lujan.gif" alt="Tarjeta Programa Elegí Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Tarjeta Programa "Elegí Luján"</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño de marca y piezas gráficas para el programa Elegí Luján, que impulsa la producción local y promueve el consumo de productos elaborados en el partido de Luján.</p>
                </div>
            </div>
            <!-- Proyecto 4 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/guardia-urbana-lujan-alerta24.jpg" alt="Guardia Urbana Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Guardia Urbana Luján</h3>
                    <p class="text-gray-200 text-sm text-center">Elaboración de un manual para la correcta aplicación de la imagen institucional en vehículos oficiales de la Guardia Urbana del municipio de Luján.</p>
                </div>
            </div>
            <!-- Proyecto 5 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/boletin-edunlu-2023.jpg" alt="Boletín EdUNLu (2023)" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Boletín EdUNLu (2023)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño del boletín mensual de EdUNLu, destinado a difundir novedades, presentaciones y ferias. Se envía por correo electrónico a la comunidad universitaria, medios de comunicación y público en general.</p>
                </div>
            </div>
            <!-- Proyecto 6 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/sistema-cuarentena-lujan-2020.jpg" alt="Campaña COVID-19" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Campaña COVID-19</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño y publicación de campaña de prevención del COVID-19 en redes sociales del Municipio de Luján. (año 2020)</p>
                </div>
            </div>
            <!-- Proyecto 7 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/01-redes-edunlu-2023.jpg" alt="Redes EdUNLu" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Redes EdUNLu (2023)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño de contenidos gráficos para las redes sociales de EdUNLu, con publicaciones sobre actividades institucionales, eventos culturales, novedades editoriales y citas destacadas.</p>
                </div>
            </div>
            <!-- Proyecto 8 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/02-redes-edunlu-2023.jpg" alt="Redes EdUNLu" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Redes EdUNLu (2023)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño de contenidos gráficos para las redes sociales de EdUNLu, con publicaciones sobre actividades institucionales, eventos culturales, novedades editoriales y citas destacadas.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 9 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/03-redes-edunlu-2023.jpg" alt="Redes EdUNLu" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Redes EdUNLu (2023)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño de contenidos gráficos para las redes sociales de EdUNLu, con publicaciones sobre actividades institucionales, eventos culturales, novedades editoriales y citas destacadas.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 10 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/01-guardia-urbana-lujan-alerta24.jpg" alt="Guardia Urbana Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Guardia Urbana Luján</h3>
                    <p class="text-gray-200 text-sm text-center">Elaboración de un manual para la correcta aplicación de la imagen institucional en vehículos oficiales de la Guardia Urbana del municipio de Luján.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 11 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/01-escudo-hereldico-lujan.jpg" alt="Marca Municipio de Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Marca Municipio de Luján (2019)</h3>
                    <p class="text-gray-200 text-sm text-center">Proyecto integral de rediseño del símbolo identificador del Municipio de Luján, que incluyó también la creación de un logotipo tipográfico.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 12 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/02-escudo-hereldico-lujan.jpg" alt="Marca Municipio de Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Marca Municipio de Luján (2019)</h3>
                    <p class="text-gray-200 text-sm text-center">Proyecto integral de rediseño del símbolo identificador del Municipio de Luján, que incluyó también la creación de un logotipo tipográfico.</p>
                </div>
            </div>
            <!-- Proyecto 13 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/03-portadas-esas-cosas.jpg" alt="Portada editorial" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Esas cosas que se saben (2022)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño de portada editorial para Esas cosas que se saben, obra del autor Marcos Tabossi.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 14 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/01-pautas-grafica-vehicular.jpg" alt="Gráfica para vehículos" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Gráfica Vehicular (2021)</h3>
                    <p class="text-gray-200 text-sm text-center">Manual de aplicación gráfica para vehículos del parque automotor institucional.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 15 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/02-punto-ciudadano-lujan.jpg" alt="Marca Punto Ciudadano" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Marca Punto Ciudadano Luján (2020)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño de identidad visual para el programa "Punto Ciudadano", una iniciativa que acerca servicios, información, trámites y asesoramiento de la Municipalidad de Luján a los distintos barrios del partido.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 16 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/01-ciclo-cine-educacion.jpg" alt="Ciclo Cine y Educación" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Ciclo Cine y Educación (2025)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño de identidad visual, cartelería y piezas gráficas para el ciclo "Cine y Educación", organizado por el Departamento de Educación de la Universidad Nacional de Luján.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 17 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/01-vecinos-conectados-app.jpg" alt="Vecinos Conectados APP" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Marca Vecinos Conectados APP (2021)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño de marca y maqueta para la aplicación “VECINOS CONECTADOS APP”.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 18 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/01-variete-2018.jpg" alt="Afhiche Varieté" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Afiche Varieté (2018)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño de afiche para la varieté organizada por la Asociación Cultural y Biblioteca Popular Ameghino de Luján.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 19 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/01-unlu-50-aniversario.jpg" alt="UNLu 50 Años" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Concurso UNLu 50 Años</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño de identidad visual para el concurso de artes visuales "UNLu 50 Años".</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 20 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/01-sem-lujan.jpg" alt="SEM Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">SEM Luján (2021)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño integral del sistema de identidad visual para el "Sistema de Estacionamiento Medido": desarrollo de marca, cartelería, señalética, piezas informativas, infracciones, mapas y contenido para redes sociales.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 21 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/00-atunlu-40-aniversario.jpg" alt="ATUNLu 40 Años" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">ATUNLu 40 Años (2024)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño de marca conmemorativa por el 40º aniversario de la Asociación de Trabajadores y Trabajadoras de la Universidad Nacional de Luján.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 22 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/01-atunlu-40-aniversario.jpg" alt="ATUNLu 40 Años" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">ATUNLu 40 Años (2024)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño de marca conmemorativa por el 40º aniversario de la Asociación de Trabajadores y Trabajadoras de la Universidad Nacional de Luján.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 23 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/01-dossier-lujan-polo.jpg" alt="Ciudad de Luján: un polo estratégico" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Dossier Ciudad de Luján (2021)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño y diagramación del dossier “Ciudad de Luján: un polo estratégico para las inversiones”, incluyendo desarrollo de mapas, esquemas y recursos gráficos informativos.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 24 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/02-dossier-lujan-polo.jpg" alt="Ciudad de Luján: un polo estratégico" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Dossier Ciudad de Luján (2021)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño y diagramación del dossier “Ciudad de Luján: un polo estratégico para las inversiones”, incluyendo desarrollo de mapas, esquemas y recursos gráficos informativos.</p>
                </div>
            </div>
             <!-- Nuevo Proyecto 25 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/03-dossier-lujan-polo.jpg" alt="Ciudad de Luján: un polo estratégico" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Dossier Ciudad de Luján (2021)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño y diagramación del dossier “Ciudad de Luján: un polo estratégico para las inversiones”, incluyendo desarrollo de mapas, esquemas y recursos gráficos informativos.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 26 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/01-banners-lujan-municipio.jpg" alt="Fly Banner Gota" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Fly Banner Gota (2020)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño de banners institucionales para el municipio de Luján.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 27 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/01-cav-lujan.jpg" alt="Marca CAV" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Marca CAV (2021)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño de marca para la plataforma CAV (Centro de Atención al Vecino): desarrollo de marca y lineamientos gráficos para redes.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 28 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/01-mujeres-expo.jpg" alt="Mujeres Emprendedoras" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Mujeres Emprendedoras (2022)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño de marca e identidad visual para la exposición ‘Mujeres Emprendedoras de Luján’: sistema gráfico y piezas de comunicación.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 29 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/02-exportacion-lujan.jpg" alt="Catálogo Exportable de Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Catálogo Exportable de Luján (2022)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño y diagramación del catálogo de empresas de la ciudad de Luján.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 30 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/01-exportacion-lujan.jpg" alt="Catálogo Exportable de Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Catálogo Exportable de Luján (2022)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño y diagramación del catálogo de empresas de la ciudad de Luján.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 31 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/02-edunlu-patria.jpg" alt="Redes EdUNLu" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Redes EdUNLu (2025)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño para las redes sociales de la Editorial de la Universidad Nacional de Luján. Efemérides patrias.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 32 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/03-edunlu-patria.jpg" alt="Redes EdUNLu" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Redes EdUNLu (2025)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño para las redes sociales de la Editorial de la Universidad Nacional de Luján. Efemérides patrias.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 33 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/01-edunlu-patria.jpg" alt="Redes EdUNLu" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Redes EdUNLu (2025)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño para las redes sociales de la Editorial de la Universidad Nacional de Luján. Efemérides patrias.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 34 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/03-universo-animal.jpg" alt="Muestra Universo Animal" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Muestra “Universo Animal” (2017)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño de identidad para la muestra “Universo Animal”, realizada en el Museo Municipal de Bellas Artes “Fernán Félix de Amador”. La propuesta fue desarrollada en base a las obras de los artistas Meyi Diz y Santiago González, articulando una identidad visual que acompañe y potencie el imaginario de la muestra.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 35 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/02-universo-animal.jpg" alt="Muestra Universo Animal" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Muestra “Universo Animal” (2017)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño de identidad para la muestra “Universo Animal”, realizada en el Museo Municipal de Bellas Artes “Fernán Félix de Amador”. La propuesta fue desarrollada en base a las obras de los artistas Meyi Diz y Santiago González, articulando una identidad visual que acompañe y potencie el imaginario de la muestra.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 36 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/01-variete-esteban-badano-2018.jpg" alt="Afiche Varieté 2018" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Afiche Varieté (2018)</h3>
                    <p class="text-gray-200 text-sm text-center">Varieté organizada por la Asociación Cultural y Biblioteca Popular Ameghino de Luján. El afiche fue desarrollado a partir de obras del artista Esteban Badano, adaptando su lenguaje visual para generar una propuesta estética coherente y atractiva.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 37 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/01-malvinas-atunlu.jpg" alt="2 de Abril Malvinas" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">2 de Abril (2025)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño para redes sociales por el Día del Veterano y de los Caídos en la Guerra de Malvinas.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 38 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/01-revista-polifonias.jpg" alt="Polifonías" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Revista Polifonías (2025)</h3>
                    <p class="text-gray-200 text-sm text-center">Rediseño de portada para la revista Polifonías.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 39 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/01-boletas-lujan.jpg" alt="Tasas municipales" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Diseño de Tasas Municipales (2020)</h3>
                    <p class="text-gray-200 text-sm text-center">Maquetado de encabezados frontales e incorporación de avisos informativos en el dorso, con enfoque en claridad visual e identidad institucional.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 40 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/01-semana-memoria.jpg" alt="Semanna de la Memoria" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Jornada Semana de la Memoria (2025)</h3>
                    <p class="text-gray-200 text-sm text-center">Identidad visual para la jornada conmemorativa del 24 de marzo, Día de la Memoria por la Verdad y la Justicia. La propuesta gráfica acompaña actividades institucionales en homenaje a las víctimas del terrorismo de Estado.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 41 -->
            <a href="https://edunlu-editorial.github.io/10-ANIVERSARIO/" target="_blank">
                <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/01-edunlu-aniversario.jpg" alt="EdUNLu Sitio Conmemorativo" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">10° aniversario EdUNLu (2025)</h3>
                    <p class="text-gray-200 text-sm text-center">Sitio conmemorativo del 10° aniversario de la Editorial de la Universidad Nacional de Luján (EdUNLu). Un recorrido por su historia, publicaciones, autores y aportes a la cultura y el conocimiento.</p>
                </div>
            </div>
            </a>
            <!-- Nuevo Proyecto 42 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/01-informe-estado.jpg" alt="Informe Municipio de Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Informe Municipio de Luján (2020)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño editorial del informe que presenta el Estado de Situación del Municipio de Luján.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 43 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/02-informe-estado.jpg" alt="Informe Municipio de Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Informe Municipio de Luján (2020)</h3>
                    <p class="text-gray-200 text-sm text-center">Diseño editorial del informe que presenta el Estado de Situación del Municipio de Luján.</p>
                </div>
            </div>
            <!-- Nuevo Proyecto 44 -->
            <div class="relative group overflow-hidden cursor-pointer project-item">
                <img src="/imagenes/01-mapa-sem.jpg" alt="Mapas SEM" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl font-semibold text-white mb-2">Diseño de Mapas SEM (2021)</h3>
                    <p class="text-gray-200 text-sm text-center"></p>
                </div>
            </div>
    </section>
<!-- Modal con :target -->
<div id="modal-img1" class="fixed inset-0 bg-black/80 flex items-center justify-center opacity-0 pointer-events-none transition-opacity duration-300">
  <div class="relative max-w-3xl mx-auto scale-95 transition-transform duration-300">
    <!-- Imagen ampliada -->
    <img src="/imagenes/marca-programa-elegi-lujan.jpg" alt="Programa Elegí Luján" class="w-full h-auto rounded-lg shadow-lg">

    <!-- Botón de cerrar -->
    <a href="#" class="absolute top-4 right-4 bg-white dark:bg-gray-800 text-black dark:text-white rounded-full w-10 h-10 flex items-center justify-center shadow-lg hover:bg-gray-200 dark:hover:bg-gray-700 transition">
      ✕
    </a>
  </div>
</div>

<style>

</style>
