---
---
    <section id="projects" class="py-16 px-0 md:px-0">
        <h2 class="text-4xl lato-black text-center mb-12">Proyectos</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-0 w-full">
                <div class="relative group overflow-hidden cursor-pointer project-item" data-project-id="2" data-full-image="/imagenes/marca-programa-elegi-lujan.jpg" data-project-title="Programa 'Elegí Luján'" data-project-description="Diseño de marca y piezas gráficas para el programa Elegí Luján, que impulsa la producción local y promueve el consumo de productos elaborados en el partido de Luján.">
                    <img src="/imagenes/marca-programa-elegi-lujan.jpg" alt="Programa Elegí Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                        <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 2 -->
                <div class="relative group overflow-hidden cursor-pointer project-item" 
                    data-project-id="2" 
                    data-full-image="/imagenes/programa-elegi-lujan-stand.gif" 
                    data-project-title="Programa 'Elegí Luján'" 
                    data-project-description="Diseño de marca y piezas gráficas para el programa Elegí Luján, que impulsa la producción local y promueve el consumo de productos elaborados en el partido de Luján.">
                    <img src="/imagenes/programa-elegi-lujan-stand.gif" alt="Programa Elegí Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                        <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 3 -->
                <div class="relative group overflow-hidden cursor-pointer project-item" 
                    data-project-id="3" 
                    data-full-image="/imagenes/tarjeta-programa-elegi-lujan.gif" 
                    data-project-title="Tarjeta Programa 'Elegí Luján'" 
                    data-project-description="Diseño de marca y piezas gráficas para el programa Elegí Luján, que impulsa la producción local y promueve el consumo de productos elaborados en el partido de Luján.">
                    <img src="/imagenes/tarjeta-programa-elegi-lujan.gif" alt="Tarjeta Programa Elegí Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                        <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 4 -->
                <div class="relative group overflow-hidden cursor-pointer project-item" 
                    data-project-id="4" 
                    data-full-image="/imagenes/guardia-urbana-lujan-alerta24.jpg" 
                    data-project-title="Guardia Urbana Luján" 
                    data-project-description="Elaboración de un manual para la correcta aplicación de la imagen institucional en vehículos oficiales de la Guardia Urbana del municipio de Luján.">
                    <img src="/imagenes/guardia-urbana-lujan-alerta24.jpg" alt="Guardia Urbana Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                        <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 5 -->
                <div class="relative group overflow-hidden cursor-pointer project-item" 
                    data-project-id="5" 
                    data-full-image="/imagenes/boletin-edunlu-2023.jpg" 
                    data-project-title="Boletín EdUNLu (2023)" 
                    data-project-description="Diseño del boletín mensual de EdUNLu, destinado a difundir novedades, presentaciones y ferias. Se envía por correo electrónico a la comunidad universitaria, medios de comunicación y público en general.">
                    <img src="/imagenes/boletin-edunlu-2023.jpg" alt="Boletín EdUNLu (2023)" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                        <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 6 -->
                <div class="relative group overflow-hidden cursor-pointer project-item" 
                    data-project-id="6" 
                    data-full-image="/imagenes/sistema-cuarentena-lujan-2020.jpg" 
                    data-project-title="Campaña COVID-19" 
                    data-project-description="Diseño y publicación de campaña de prevención del COVID-19 en redes sociales del Municipio de Luján. (año 2020)">
                    <img src="/imagenes/sistema-cuarentena-lujan-2020.jpg" alt="Campaña COVID-19" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                        <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 7 -->
                <div class="relative group overflow-hidden cursor-pointer project-item" 
                    data-project-id="7" 
                    data-full-image="/imagenes/01-redes-edunlu-2023.jpg" 
                    data-project-title="Redes EdUNLu (2023)" 
                    data-project-description="Diseño de contenidos gráficos para las redes sociales de EdUNLu, con publicaciones sobre actividades institucionales, eventos culturales, novedades editoriales y citas destacadas.">
                    <img src="/imagenes/01-redes-edunlu-2023.jpg" alt="Redes EdUNLu (2023)" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                        <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 8 -->
                <div class="relative group overflow-hidden cursor-pointer project-item" 
                    data-project-id="8" 
                    data-full-image="/imagenes/02-redes-edunlu-2023.jpg" 
                    data-project-title="Redes EdUNLu (2023)" 
                    data-project-description="Diseño de contenidos gráficos para las redes sociales de EdUNLu, con publicaciones sobre actividades institucionales, eventos culturales, novedades editoriales y citas destacadas.">
                    <img src="/imagenes/02-redes-edunlu-2023.jpg" alt="Redes EdUNLu (2023)" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                        <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 9 -->
                <div class="relative group overflow-hidden cursor-pointer project-item" 
                    data-project-id="9" 
                    data-full-image="/imagenes/03-redes-edunlu-2023.jpg" 
                    data-project-title="Redes EdUNLu (2023)" 
                    data-project-description="Diseño de contenidos gráficos para las redes sociales de EdUNLu, con publicaciones sobre actividades institucionales, eventos culturales, novedades editoriales y citas destacadas.">
                    <img src="/imagenes/03-redes-edunlu-2023.jpg" alt="Redes EdUNLu (2023)" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                        <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 10 -->
                <div class="relative group overflow-hidden cursor-pointer project-item" 
                    data-project-id="10" 
                    data-full-image="/imagenes/01-guardia-urbana-lujan-alerta24.jpg" 
                    data-project-title="Guardia Urbana Luján" 
                    data-project-description="Elaboración de un manual para la correcta aplicación de la imagen institucional en vehículos oficiales de la Guardia Urbana del municipio de Luján.">
                    <img src="/imagenes/01-guardia-urbana-lujan-alerta24.jpg" alt="Guardia Urbana Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                        <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 11 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="11"
                    data-full-image="/imagenes/01-escudo-hereldico-lujan.jpg"
                    data-project-title="Marca Municipio de Luján (2019)"
                    data-project-description="Proyecto integral de rediseño del símbolo identificador del Municipio de Luján, que incluyó también la creación de un logotipo tipográfico.">
                    <img src="/imagenes/01-escudo-hereldico-lujan.jpg" alt="Marca Municipio de Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 p-4">
                        <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 12 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="12"
                    data-full-image="/imagenes/02-escudo-hereldico-lujan.jpg"
                    data-project-title="Marca Municipio de Luján (2019)"
                    data-project-description="Proyecto integral de rediseño del símbolo identificador del Municipio de Luján, que incluyó también la creación de un logotipo tipográfico.">
                    <img src="/imagenes/02-escudo-hereldico-lujan.jpg" alt="Marca Municipio de Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 p-4">
                        <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 13 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="13"
                    data-full-image="/imagenes/03-portadas-esas-cosas.jpg"
                    data-project-title="Esas cosas que se saben (2022)"
                    data-project-description="Diseño de portada editorial para Esas cosas que se saben, obra del autor Marcos Tabossi.">
                    <img src="/imagenes/03-portadas-esas-cosas.jpg" alt="Portada editorial" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 p-4">
                        <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 14 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="14"
                    data-full-image="/imagenes/01-pautas-grafica-vehicular.jpg"
                    data-project-title="Gráfica Vehicular (2021)"
                    data-project-description="Manual de aplicación gráfica para vehículos del parque automotor institucional.">
                    <img src="/imagenes/01-pautas-grafica-vehicular.jpg" alt="Gráfica para vehículos" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 p-4">
                        <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 15 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="15"
                    data-full-image="/imagenes/02-punto-ciudadano-lujan.jpg"
                    data-project-title="Marca Punto Ciudadano Luján (2020)"
                    data-project-description="Diseño de identidad visual para el programa 'Punto Ciudadano', una iniciativa que acerca servicios, información, trámites y asesoramiento de la Municipalidad de Luján a los distintos barrios del partido.">
                    <img src="/imagenes/02-punto-ciudadano-lujan.jpg" alt="Marca Punto Ciudadano" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 p-4">
                        <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 16 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="16"
                    data-full-image="/imagenes/01-ciclo-cine-educacion.jpg"
                    data-project-title="Ciclo Cine y Educación (2025)"
                    data-project-description="Diseño de identidad visual, cartelería y piezas gráficas para el ciclo 'Cine y Educación', organizado por el Departamento de Educación de la Universidad Nacional de Luján.">
                    <img src="/imagenes/01-ciclo-cine-educacion.jpg" alt="Ciclo Cine y Educación" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 p-4">
                        <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 17 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="17"
                    data-full-image="/imagenes/01-vecinos-conectados-app.jpg"
                    data-project-title="Marca Vecinos Conectados APP (2021)"
                    data-project-description="Diseño de marca y maqueta para la aplicación “VECINOS CONECTADOS APP”.">
                    <img src="/imagenes/01-vecinos-conectados-app.jpg" alt="Vecinos Conectados APP" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                </div>
                </div>

                <!-- Proyecto 18 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="18"
                    data-full-image="/imagenes/01-variete-2018.jpg"
                    data-project-title="Afiche Varieté (2018)"
                    data-project-description="Diseño de afiche para la varieté organizada por la Asociación Cultural y Biblioteca Popular Ameghino de Luján.">
                    <img src="/imagenes/01-variete-2018.jpg" alt="Afiche Varieté" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 19 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="19"
                    data-full-image="/imagenes/01-unlu-50-aniversario.jpg"
                    data-project-title="Concurso UNLu 50 Años"
                    data-project-description="Diseño de identidad visual para el concurso de artes visuales 'UNLu 50 Años'.">
                    <img src="/imagenes/01-unlu-50-aniversario.jpg" alt="UNLu 50 Años" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 20 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="20"
                    data-full-image="/imagenes/01-sem-lujan.jpg"
                    data-project-title="SEM Luján (2021)"
                    data-project-description="Diseño integral del sistema de identidad visual para el 'Sistema de Estacionamiento Medido': desarrollo de marca, cartelería, señalética, piezas informativas, infracciones, mapas y contenido para redes sociales.">
                    <img src="/imagenes/01-sem-lujan.jpg" alt="SEM Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 21 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="21"
                    data-full-image="/imagenes/00-atunlu-40-aniversario.jpg"
                    data-project-title="ATUNLu 40 Años (2024)"
                    data-project-description="Diseño de marca conmemorativa por el 40º aniversario de la Asociación de Trabajadores y Trabajadoras de la Universidad Nacional de Luján.">
                    <img src="/imagenes/00-atunlu-40-aniversario.jpg" alt="ATUNLu 40 Años" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 22 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="22"
                    data-full-image="/imagenes/01-atunlu-40-aniversario.jpg"
                    data-project-title="ATUNLu 40 Años (2024)"
                    data-project-description="Diseño de marca conmemorativa por el 40º aniversario de la Asociación de Trabajadores y Trabajadoras de la Universidad Nacional de Luján.">
                    <img src="/imagenes/01-atunlu-40-aniversario.jpg" alt="ATUNLu 40 Años" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 23 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="23"
                    data-full-image="/imagenes/01-dossier-lujan-polo.jpg"
                    data-project-title="Dossier Ciudad de Luján (2021)"
                    data-project-description="Diseño y diagramación del dossier 'Ciudad de Luján: un polo estratégico para las inversiones', incluyendo desarrollo de mapas, esquemas y recursos gráficos informativos.">
                    <img src="/imagenes/01-dossier-lujan-polo.jpg" alt="Ciudad de Luján: un polo estratégico" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 24 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="24"
                    data-full-image="/imagenes/02-dossier-lujan-polo.jpg"
                    data-project-title="Dossier Ciudad de Luján (2021)"
                    data-project-description="Diseño y diagramación del dossier 'Ciudad de Luján: un polo estratégico para las inversiones', incluyendo desarrollo de mapas, esquemas y recursos gráficos informativos.">
                    <img src="/imagenes/02-dossier-lujan-polo.jpg" alt="Ciudad de Luján: un polo estratégico" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 25 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="25"
                    data-full-image="/imagenes/03-dossier-lujan-polo.jpg"
                    data-project-title="Dossier Ciudad de Luján (2021)"
                    data-project-description="Diseño y diagramación del dossier 'Ciudad de Luján: un polo estratégico para las inversiones', incluyendo desarrollo de mapas, esquemas y recursos gráficos informativos.">
                    <img src="/imagenes/03-dossier-lujan-polo.jpg" alt="Ciudad de Luján: un polo estratégico" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 26 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="26"
                    data-full-image="/imagenes/01-banners-lujan-municipio.jpg"
                    data-project-title="Fly Banner Gota (2020)"
                    data-project-description="Diseño de banners institucionales para el municipio de Luján.">
                    <img src="/imagenes/01-banners-lujan-municipio.jpg" alt="Fly Banner Gota" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 27 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="27"
                    data-full-image="/imagenes/01-cav-lujan.jpg"
                    data-project-title="Marca CAV (2021)"
                    data-project-description="Diseño de marca para la plataforma CAV (Centro de Atención al Vecino): desarrollo de marca y lineamientos gráficos para redes.">
                    <img src="/imagenes/01-cav-lujan.jpg" alt="Marca CAV" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 28 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="28"
                    data-full-image="/imagenes/01-mujeres-expo.jpg"
                    data-project-title="Mujeres Emprendedoras (2022)"
                    data-project-description="Diseño de marca e identidad visual para la exposición 'Mujeres Emprendedoras de Luján': sistema gráfico y piezas de comunicación.">
                    <img src="/imagenes/01-mujeres-expo.jpg" alt="Mujeres Emprendedoras" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 29 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="29"
                    data-full-image="/imagenes/02-exportacion-lujan.jpg"
                    data-project-title="Catálogo Exportable de Luján (2022)"
                    data-project-description="Diseño y diagramación del catálogo de empresas de la ciudad de Luján.">
                    <img src="/imagenes/02-exportacion-lujan.jpg" alt="Catálogo Exportable de Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 30 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="30"
                    data-full-image="/imagenes/01-exportacion-lujan.jpg"
                    data-project-title="Catálogo Exportable de Luján (2022)"
                    data-project-description="Diseño y diagramación del catálogo de empresas de la ciudad de Luján.">
                    <img src="/imagenes/01-exportacion-lujan.jpg" alt="Catálogo Exportable de Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 31 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="31"
                    data-full-image="/imagenes/02-edunlu-patria.jpg"
                    data-project-title="Redes EdUNLu (2025)"
                    data-project-description="Diseño para las redes sociales de la Editorial de la Universidad Nacional de Luján. Efemérides patrias.">
                    <img src="/imagenes/02-edunlu-patria.jpg" alt="Redes EdUNLu" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 32 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="32"
                    data-full-image="/imagenes/03-edunlu-patria.jpg"
                    data-project-title="Redes EdUNLu (2025)"
                    data-project-description="Diseño para las redes sociales de la Editorial de la Universidad Nacional de Luján. Efemérides patrias.">
                    <img src="/imagenes/03-edunlu-patria.jpg" alt="Redes EdUNLu" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 33 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="33"
                    data-full-image="/imagenes/01-edunlu-patria.jpg"
                    data-project-title="Redes EdUNLu (2025)"
                    data-project-description="Diseño para las redes sociales de la Editorial de la Universidad Nacional de Luján. Efemérides patrias.">
                    <img src="/imagenes/01-edunlu-patria.jpg" alt="Redes EdUNLu" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 34 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="34"
                    data-full-image="/imagenes/03-universo-animal.jpg"
                    data-project-title="Muestra 'Universo Animal' (2017)"
                    data-project-description="Diseño de identidad para la muestra “Universo Animal”, realizada en el Museo Municipal de Bellas Artes “Fernán Félix de Amador”. La propuesta fue desarrollada en base a las obras de los artistas Meyi Diz y Santiago González, articulando una identidad visual que acompañe y potencie el imaginario de la muestra.">
                    <img src="/imagenes/03-universo-animal.jpg" alt="Muestra Universo Animal" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 35 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="35"
                    data-full-image="/imagenes/02-universo-animal.jpg"
                    data-project-title="Muestra 'Universo Animal' (2017)"
                    data-project-description="Diseño de identidad para la muestra “Universo Animal”, realizada en el Museo Municipal de Bellas Artes “Fernán Félix de Amador”. La propuesta fue desarrollada en base a las obras de los artistas Meyi Diz y Santiago González, articulando una identidad visual que acompañe y potencie el imaginario de la muestra.">
                    <img src="/imagenes/02-universo-animal.jpg" alt="Muestra Universo Animal" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 36 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="36"
                    data-full-image="/imagenes/01-variete-esteban-badano-2018.jpg"
                    data-project-title="Afiche Varieté (2018)"
                    data-project-description="Varieté organizada por la Asociación Cultural y Biblioteca Popular Ameghino de Luján. El afiche fue desarrollado a partir de obras del artista Esteban Badano, adaptando su lenguaje visual para generar una propuesta estética coherente y atractiva.">
                    <img src="/imagenes/01-variete-esteban-badano-2018.jpg" alt="Afiche Varieté 2018" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 37 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="37"
                    data-full-image="/imagenes/01-malvinas-atunlu.jpg"
                    data-project-title="2 de Abril (2025)"
                    data-project-description="Diseño para redes sociales por el Día del Veterano y de los Caídos en la Guerra de Malvinas.">
                    <img src="/imagenes/01-malvinas-atunlu.jpg" alt="2 de Abril Malvinas" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 38 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="38"
                    data-full-image="/imagenes/01-revista-polifonias.jpg"
                    data-project-title="Revista Polifonías (2025)"
                    data-project-description="Rediseño de portada para la revista Polifonías.">
                    <img src="/imagenes/01-revista-polifonias.jpg" alt="Polifonías" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 39 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="39"
                    data-full-image="/imagenes/01-boletas-lujan.jpg"
                    data-project-title="Diseño de Tasas Municipales (2020)"
                    data-project-description="Maquetado de encabezados frontales e incorporación de avisos informativos en el dorso, con enfoque en claridad visual e identidad institucional.">
                    <img src="/imagenes/01-boletas-lujan.jpg" alt="Tasas municipales" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 40 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="40"
                    data-full-image="/imagenes/01-semana-memoria.jpg"
                    data-project-title="Jornada Semana de la Memoria (2025)"
                    data-project-description="Identidad visual para la jornada conmemorativa del 24 de marzo, Día de la Memoria por la Verdad y la Justicia. La propuesta gráfica acompaña actividades institucionales en homenaje a las víctimas del terrorismo de Estado.">
                    <img src="/imagenes/01-semana-memoria.jpg" alt="Semanna de la Memoria" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 41 -->
                <a href="https://edunlu-editorial.github.io/10-ANIVERSARIO/" target="_blank">
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="41"
                    data-full-image="/imagenes/01-edunlu-aniversario.jpg"
                    data-project-title="10° aniversario EdUNLu (2025)"
                    data-project-description="Sitio conmemorativo del 10° aniversario de la Editorial de la Universidad Nacional de Luján (EdUNLu). Un recorrido por su historia, publicaciones, autores y aportes a la cultura y el conocimiento.">
                    <img src="/imagenes/01-edunlu-aniversario.jpg" alt="EdUNLu Sitio Conmemorativo" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>
                </a>

                <!-- Proyecto 42 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="42"
                    data-full-image="/imagenes/01-informe-estado.jpg"
                    data-project-title="Informe Municipio de Luján (2020)"
                    data-project-description="Diseño editorial del informe que presenta el Estado de Situación del Municipio de Luján.">
                    <img src="/imagenes/01-informe-estado.jpg" alt="Informe Municipio de Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 43 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="43"
                    data-full-image="/imagenes/02-informe-estado.jpg"
                    data-project-title="Informe Municipio de Luján (2020)"
                    data-project-description="Diseño editorial del informe que presenta el Estado de Situación del Municipio de Luján.">
                    <img src="/imagenes/02-informe-estado.jpg" alt="Informe Municipio de Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>

                <!-- Proyecto 44 -->
                <div class="relative group overflow-hidden cursor-pointer project-item"
                    data-project-id="44"
                    data-full-image="/imagenes/01-mapa-sem.jpg"
                    data-project-title="Diseño de Mapas SEM (2021)"
                    data-project-description="">
                    <img src="/imagenes/01-mapa-sem.jpg" alt="Informe Municipio de Luján" class="w-full h-auto object-cover transform transition-transform duration-300 group-hover:scale-105 group-active:scale-105 group-focus:scale-105">
                    <div class="absolute inset-0 bg-black/50 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 group-active:opacity-100 group-focus:opacity-100 transition-opacity duration-300 p-4">
                    <h3 class="text-xl lato-bold text-white">Ver proyecto</h3>
                    </div>
                </div>
            </div>

        <div id="projectModal" class="fixed inset-0 bg-black/80 flex items-center justify-center z-50 hidden" role="dialog" aria-modal="true">
            <div class="bg-white p-4 md:p-4 max-w-4xl w-full mx-4 relative">
                <button id="closeModal" class="absolute top-2 right-2 leading-none"></button>
                <img id="modalImage" src="" alt="Imagen de Proyecto" class="w-full h-auto mb-4">
                <h3 id="modalTitle" class="text-2xl lato-bold mb-2 text-azul-oscuro"></h3>
                <p id="modalDescription" class="lato-regular text-gray-600"></p>
            </div>
        </div>


        <!-- Modal con :target -->
        <div id="modal-img1" class="fixed inset-0 bg-black/80 flex items-center justify-center opacity-0 pointer-events-none transition-opacity duration-300">
        <div class="relative max-w-3xl mx-auto scale-95 transition-transform duration-300">
            <!-- Imagen ampliada -->
            <img src="/imagenes/marca-programa-elegi-lujan.jpg" alt="Programa Elegí Luján" class="w-full h-auto rounded-lg shadow-lg">

            <!-- Botón de cerrar -->
            <a href="#" class="absolute top-4 right-4 bg-white dark:bg-gray-800 text-black dark:text-white rounded-full w-10 h-10 flex items-center justify-center shadow-lg hover:bg-gray-200 dark:hover:bg-gray-700 transition">
            ✕
            </a>
        </div>
        </div>
    </section>

<script is:inline>
    document.addEventListener('DOMContentLoaded', () => {
        const projectItems = document.querySelectorAll('.project-item');
        const projectModal = document.getElementById('projectModal');
        const closeModalButton = document.getElementById('closeModal');
        const modalImage = document.getElementById('modalImage');
        const modalTitle = document.getElementById('modalTitle');
        const modalDescription = document.getElementById('modalDescription');

        function openModal(fullImageUrl, title, description) {
            modalImage.src = fullImageUrl;
            modalTitle.textContent = title;
            modalDescription.textContent = description;
            projectModal.classList.remove('hidden');
        }

        function closeModal() {
            projectModal.classList.add('hidden');
            modalImage.src = ''; 
            modalTitle.textContent = '';
            modalDescription.textContent = '';
        }

        projectItems.forEach(item => {
            item.addEventListener('click', () => {
                const fullImageUrl = item.dataset.fullImage;
                const title = item.dataset.projectTitle;
                const description = item.dataset.projectDescription;
                openModal(fullImageUrl, title, description);
            });
        });

        closeModalButton.addEventListener('click', closeModal);

        projectModal.addEventListener('click', (event) => {
            if (event.target === projectModal) {
                closeModal();
            }
        });

        document.addEventListener('keydown', (event) => {
            if (event.key === 'Escape' && !projectModal.classList.contains('hidden')) {
                closeModal();
            }
        });
    });
</script>