---
import Whatsapp from "public/imagenes/whatsapp.svg";

// Puedes pasarle props si querés hacerlo más dinámico
const { label = "Disponible", href = "https://wa.link/zesrbl" } = Astro.props;
---

<a href={href} target="_blank" class="fixed bottom-6 right-4 z-50 hover:scale-125 active:scale-125 focus:scale-125 px-4 py-3 shadow-lg flex items-center gap-2 transition-all duration-300">
  <Whatsapp class="w-10 h-10" />
</a>