---
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'

import '@styles/global.css'
---
<!doctype html>
<html lang="es-AR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Leandro Barrios Designer</title>
	</head>
	<body>
		<Header />
				<main>
					<slot />
				</main>
		<Footer />
	</body>
</html>

<style>
    html {
        scroll-behavior: smooth;
    }
	body {
		background: linear-gradient(333deg,rgb(251, 236, 255) 1%, rgb(226, 237, 255) 52%, rgb(255, 255, 255) 100%);
	}
    body.dark-mode {
		background-image: radial-gradient(140% 107% at 50% 10%, #000314 37.41%, #29116b 69.27%, #2e0041 100%);
        color: #f0f0f0;
    }
</style>
