---
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import Float from '@funciones/Disponible.astro'

import '@styles/global.css'
import GoogleTagManager from '@components/GoogleTagManager.astro'
---
<!doctype html>
<html lang="es-AR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Leandro Barrios Designer</title>
		<meta name="description" content="Explora el portafolio profesional de un diseñador gráfico. Proyectos de branding, diseño, desarrollo de campañas visuales impactantes. ¡Concretá tus ideas!">
		<meta name="keywords" content="diseño gráfico, diseño web, portafolio, HTML, CSS, branding, desarrollo web, diseño digital, ilustrador, marketing visual, Argentina">
		<meta name="author" content="Leandro Barrios">
		<meta name="robots" content="index, follow">
		<meta property="og:title" content="Leandro Barrios – Diseñador Gráfico">
		<meta property="og:url" content="https://leandrobarriosdesigner.site">
		<meta property="og:description" content="Portfolio de Leandro Barrios, diseñador gráfico con experiencia en branding, diseño editorial y comunicación institucional.">
		<meta property="og:image" content="/imagenes/image-web-site.jpg">
		<meta property="og:type" content="website">
		<meta property="og:locale" content="es_AR">
		<!-- X -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="leandrobarriosdesigner.site">
		<meta property="twitter:url" content="https://leandrobarriosdesigner.site">
		<meta name="twitter:title" content="Leandro Barrios – Diseñador Gráfico">
		<meta name="twitter:description" content="Portfolio de Leandro Barrios, diseñador gráfico con experiencia en branding, diseño editorial y comunicación institucional.">
		<meta name="twitter:image" content="/imagenes/image-web-site.jpg">
		<GoogleTagManager />
	</head>
	<body class="font-lato">
		<Header />
				<main>
					<slot />
				</main>
		<Float />
		<Footer />
		<GoogleTagManager />
	</body>
</html>

<style>
    html {
        scroll-behavior: smooth;
    }
	body {
		background: linear-gradient(333deg,rgb(255, 255, 255) 1%, rgb(226, 237, 255) 52%, rgb(255, 255, 255) 100%);
		color: var(--color-azul-oscuro);
	}
    body.dark-mode {
		background-image: linear-gradient(270deg, rgb(6, 0, 39), rgb(14, 0, 63), rgb(0, 0, 0));
        color: var(--color-gris-claro);
    }
</style>

<script src="/scripts/scroll.js" is:inline></script>