---
const { class: className = "" } = Astro.props;
---

<div
    class:list={["p-6 md:p-8 rounded-lg custom-box-shadow fondo-me", className]}
>
    <slot />
</div>

<style>
    .custom-box-shadow {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    :global(body.dark-mode) .custom-box-shadow {
        box-shadow: rgba(11, 5, 70, 0.384) 0px 7px 29px 0px;
    }
    .fondo-me {
        background: rgb(255, 255, 255);
    }
    :global(body.dark-mode) .fondo-me {
        background: rgb(5, 6, 45);
    }
</style>
