---
const { class: className = "" } = Astro.props;
---

<div class:list={["p-6 md:p-8 custom-box-shadow", className]}>
    <slot />
</div>

<style>
    .custom-box-shadow {
        border: 1px solid #101820;
        background: #fefffa;
    }
    :global(body.dark-mode) .custom-box-shadow {
        border: 1px solid #fefffa;
        background: #101820;
    }
</style>
